body {
  margin: 0;
  overflow: hidden;
  display: flex;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

svg {
  flex: 15 1;
}

.legend {
  display: flex;
  flex: 1;
  width: 100%;
  flex-flow: column wrap;
  gap: 1rem;
}

circle {
  opacity: 0.2;
}

text {
  font-size: 20px;
}
